<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogApp.Client</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
    <app>
        @RenderBody()
    </app>

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
